#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 10.24px;
}

.App {
  width: 317px;
  height: 780px;
} 

Main {
  background-color: #1A1B21;
  margin: 0;
  padding: 30px;
}

Footer {
  background-color: #161619;
  margin: 0;
  padding: 19px 0 ;
}

header {
  margin-bottom: 30px;
}

section {
  margin: 20px 0;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
}

h1,
h2 {
  font-weight: 700
}

h1 {
  font-size: 25px;
  margin-bottom: 8px;
}

h2 {
  font-size: 16px;
  text-align: left;
}

h3{
  color: #F3BF99;
  font-size: 12.8px;
  margin-bottom: 20px;
}

p {
  font-color: #DCDCDC;
  line-height: 150%;
  text-align: left;
}

main .fa {
  font-size: 16px;
  margin: 0 5px 0 0;
}

footer .fa {
  font-size: 25px;
  margin: 0 15px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 6px;
  margin: 0 10px 0 0;
  width: 75px;
  align: center;
}

.btn-light{
  background-color: #FFFFFF;
  color: #374151;
}

.btn-accent{
  background-color: #5093E2;
  color: #FFFFFF;
}